Values:
TAG: 'webhostingcoopteam/openemr'
openemr_host: 'local'
openemr_domain: 'localdomain'
DB_ROOT_PASS: 'replaceme123'
DB_USER: 'openemr'
DB_PASS: 'replaceme123'
DB_NAME: 'openemr'
VOLUME_DRIVER: 'local'
PORT: 8080
